@page "/"

<h3>Library Management</h3>

<div class="button-container">
    <button @onclick="NavigateToBooks" class="btn btn-primary">Manage Books</button>
    <button @onclick="NavigateToUsers" class="btn btn-secondary">Manage Users</button>
    <button @onclick="NavigateToBorrowReturn" class="btn btn-success">Borrow/Return Books</button>
</div>

@code {
    private void NavigateToBooks()
    {
        NavigationManager.NavigateTo("/books");
    }

    private void NavigateToUsers()
    {
        NavigationManager.NavigateTo("/users");
    }

    private void NavigateToBorrowReturn()
    {
        NavigationManager.NavigateTo("/borrowreturn");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}
